In [32]:
import pandas as pd
import string
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer, WordNetLemmatizer
nltk.download('omw-1.4')
nltk.download('wordnet')

stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [33]:
data = pd.read_csv('data/review.csv')
data

                                          combined_review  sentiment_label
0        I am so angry that i made this post available...               -2
1       No Negative No real complaints the hotel was g...                1
2        Rooms are nice but for elderly a bit difficul...                1
3        My room was dirty and I was afraid to walk ba...               -1
4        You When I booked with your company on line y...                0
...                                                   ...              ...
515733   no trolly or staff to help you take the lugga...                1
515734   The hotel looks like 3 but surely not 4  Brea...                0
515735   The ac was useless It was a hot week in vienn...               -2
515736  No Negative The rooms are enormous and really ...                1
515737   I was in 3rd floor It didn t work Free Wife  ...                1

[515738 rows x 2 columns]

In [34]:
data['combined_review'] = data['combined_review'].replace(['No Negative', 'No Positive'], '', regex=True)

In [35]:
data['combined_review'] = data['combined_review'].str.lower()
data

                                          combined_review  sentiment_label
0        i am so angry that i made this post available...               -2
1        no real complaints the hotel was great great ...                1
2        rooms are nice but for elderly a bit difficul...                1
3        my room was dirty and i was afraid to walk ba...               -1
4        you when i booked with your company on line y...                0
...                                                   ...              ...
515733   no trolly or staff to help you take the lugga...                1
515734   the hotel looks like 3 but surely not 4  brea...                0
515735   the ac was useless it was a hot week in vienn...               -2
515736   the rooms are enormous and really comfortable...                1
515737   i was in 3rd floor it didn t work free wife  ...                1

[515738 rows x 2 columns]

In [36]:
def remove_punctuation(text):
    tokens = nltk.regexp_tokenize(text, r'\w+')
    return ' '.join(tokens)

data['combined_review'] = data['combined_review'].apply(remove_punctuation)
data

                                          combined_review  sentiment_label
0       i am so angry that i made this post available ...               -2
1       no real complaints the hotel was great great l...                1
2       rooms are nice but for elderly a bit difficult...                1
3       my room was dirty and i was afraid to walk bar...               -1
4       you when i booked with your company on line yo...                0
...                                                   ...              ...
515733  no trolly or staff to help you take the luggag...                1
515734  the hotel looks like 3 but surely not 4 breakf...                0
515735  the ac was useless it was a hot week in vienna...               -2
515736  the rooms are enormous and really comfortable ...                1
515737  i was in 3rd floor it didn t work free wife st...                1

[515738 rows x 2 columns]

In [37]:
def remove_special_character(text):
    text = text.translate(str.maketrans('', '', string.punctuation))
    return text

data['combined_review'] = data['combined_review'].apply(remove_special_character)
data

                                          combined_review  sentiment_label
0       i am so angry that i made this post available ...               -2
1       no real complaints the hotel was great great l...                1
2       rooms are nice but for elderly a bit difficult...                1
3       my room was dirty and i was afraid to walk bar...               -1
4       you when i booked with your company on line yo...                0
...                                                   ...              ...
515733  no trolly or staff to help you take the luggag...                1
515734  the hotel looks like 3 but surely not 4 breakf...                0
515735  the ac was useless it was a hot week in vienna...               -2
515736  the rooms are enormous and really comfortable ...                1
515737  i was in 3rd floor it didn t work free wife st...                1

[515738 rows x 2 columns]

In [38]:
print(data.loc[515734, 'combined_review'])
print(data.loc[515737, 'combined_review'])

the hotel looks like 3 but surely not 4 breakfast was ok and we got earlier check in
i was in 3rd floor it didn t work free wife staff was very kind

In [39]:
def remove_stopwords(text):
    tokens = word_tokenize(text)
    filtered_tokens = [word for word in tokens if word.lower() not in stop_words]
    return ' '.join(filtered_tokens)

data['combined_review'] = data['combined_review'].apply(remove_stopwords)
data

                                          combined_review  sentiment_label
0       angry made post available via possible sites u...               -2
1       real complaints hotel great great location sur...                1
2       rooms nice elderly bit difficult rooms two sto...                1
3       room dirty afraid walk barefoot floor looked c...               -1
4       booked company line showed pictures room thoug...                0
...                                                   ...              ...
515733       trolly staff help take luggage room location                1
515734  hotel looks like 3 surely 4 breakfast ok got e...                0
515735            ac useless hot week vienna gave hot air               -2
515736  rooms enormous really comfortable believe fami...                1
515737                3rd floor work free wife staff kind                1

[515738 rows x 2 columns]

In [40]:
print(data.loc[515734, 'combined_review'])
print(data.loc[515737, 'combined_review'])

hotel looks like 3 surely 4 breakfast ok got earlier check
3rd floor work free wife staff kind

In [41]:
"""stemmer = PorterStemmer()
def stem_text(text):
    tokens = word_tokenize(text)
    stemmed_tokens = [stemmer.stem(token) for token in tokens]
    return ' '.join(stemmed_tokens)

data['combined_review'] = data['combined_review'].apply(stem_text)
data"""

"stemmer = PorterStemmer()\ndef stem_text(text):\n    tokens = word_tokenize(text)\n    stemmed_tokens = [stemmer.stem(token) for token in tokens]\n    return ' '.join(stemmed_tokens)\n\ndata['combined_review'] = data['combined_review'].apply(stem_text)\ndata"

In [42]:
lemmatizer = WordNetLemmatizer()
def lemmatize_text(text):
    tokens = word_tokenize(text)
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
    return ' '.join(lemmatized_tokens)

data['combined_review'] = data['combined_review'].apply(lemmatize_text)
data

                                          combined_review  sentiment_label
0       angry made post available via possible site us...               -2
1       real complaint hotel great great location surr...                1
2       room nice elderly bit difficult room two story...                1
3       room dirty afraid walk barefoot floor looked c...               -1
4       booked company line showed picture room though...                0
...                                                   ...              ...
515733       trolly staff help take luggage room location                1
515734  hotel look like 3 surely 4 breakfast ok got ea...                0
515735            ac useless hot week vienna gave hot air               -2
515736  room enormous really comfortable believe famil...                1
515737                3rd floor work free wife staff kind                1

[515738 rows x 2 columns]

In [43]:
print(data.loc[515734, 'combined_review'])
print(data.loc[515737, 'combined_review'])

hotel look like 3 surely 4 breakfast ok got earlier check
3rd floor work free wife staff kind

In [44]:
"""Actually, there is no need to create separate functions for each process as I did earlier. 
I performed each step individually for the purpose of learning KEK"""

"""This is a shorter version of the preprocessing steps. If you want to perform all the 
preprocessing steps in one function, you can combine them into a single function"""

"""
def preprocess_text(text):
    # Lowercase the text
    text = text.lower()
    
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    
    # Remove stopwords
    tokens = word_tokenize(text)
    filtered_tokens = [word for word in tokens if word.lower() not in stop_words]
    
    # Perform stemming and lemmatization
    # stemmed_tokens = [stemmer.stem(token) for token in filtered_tokens]
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in stemmed_tokens]
    
    # Tokenize the text
    final_tokens = word_tokenize(' '.join(lemmatized_tokens))
    
    return final_tokens
"""

"\ndef preprocess_text(text):\n    # Lowercase the text\n    text = text.lower()\n    \n    # Remove punctuation\n    text = text.translate(str.maketrans('', '', string.punctuation))\n    \n    # Remove stopwords\n    tokens = word_tokenize(text)\n    filtered_tokens = [word for word in tokens if word.lower() not in stop_words]\n    \n    # Perform stemming and lemmatization\n    # stemmed_tokens = [stemmer.stem(token) for token in filtered_tokens]\n    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in stemmed_tokens]\n    \n    # Tokenize the text\n    final_tokens = word_tokenize(' '.join(lemmatized_tokens))\n    \n    return final_tokens\n"

In [45]:
data

                                          combined_review  sentiment_label
0       angry made post available via possible site us...               -2
1       real complaint hotel great great location surr...                1
2       room nice elderly bit difficult room two story...                1
3       room dirty afraid walk barefoot floor looked c...               -1
4       booked company line showed picture room though...                0
...                                                   ...              ...
515733       trolly staff help take luggage room location                1
515734  hotel look like 3 surely 4 breakfast ok got ea...                0
515735            ac useless hot week vienna gave hot air               -2
515736  room enormous really comfortable believe famil...                1
515737                3rd floor work free wife staff kind                1

[515738 rows x 2 columns]

In [46]:
data['sentiment_label'] = data['sentiment_label'].replace({
    -2: 'Very Negative',
    -1: 'Negative',
    0: 'Neutral',
    1: 'Positive',
    2: 'Very Positive'
})

data

                                          combined_review sentiment_label
0       angry made post available via possible site us...   Very Negative
1       real complaint hotel great great location surr...        Positive
2       room nice elderly bit difficult room two story...        Positive
3       room dirty afraid walk barefoot floor looked c...        Negative
4       booked company line showed picture room though...         Neutral
...                                                   ...             ...
515733       trolly staff help take luggage room location        Positive
515734  hotel look like 3 surely 4 breakfast ok got ea...         Neutral
515735            ac useless hot week vienna gave hot air   Very Negative
515736  room enormous really comfortable believe famil...        Positive
515737                3rd floor work free wife staff kind        Positive

[515738 rows x 2 columns]

In [47]:
data.to_csv('data/review_preprocessing.csv', index=False)